nav.top-bar data-topbar=""
  ul.title-area
    li.name
      h1
        a href="/" Dr. Beate Faust
    li.toggle-topbar.menu-icon
      a href="#"
        |  Menü 
        span
  section.top-bar-section
    ul.right
      li
        a href="/" Home
