<footer>
  <hr>
  <div class='row'>
    <div class='large-10 columns'>
      <div class='row'>
        <div class='large-5 columns'>
          <blockquote class='panel radius'>
            <h5>Dr. med. dent. Beate Faust</h5>
            <p>
              Zahnärztin <br />
              Fraunhoferstr. 23, 80469 München<br />
              Tel: 089/201 66 05 <br />
              Fax: 089/201 66 13<br />
              Homepage: <a href="/">www.faust-beate.de</a>
            </p>
          </blockquote>
        </div>
        <div class='large-4 columns'>
          <blockquote class='panel radius'>
            <h5>Sprechstunden</h5>
            <p>
              Montag        7.00 - 15.00 Uhr<br />
              Dienstag      7.00 - 18.00 Uhr<br />
              Mittwoch      7.00 - 13.00 Uhr<br />
              Donnerstag    7.00 - 16.00 Uhr <br />
              und nach Vereinbarung
            </p>
          </blockquote>
        </div>
        <div class='large-3 columns'>
          <blockquote class='panel radius'>
            <img src="/assets/images/thumb/jameda-banner.png">
          </blockquote>
        </div>
      </div>
      <p>
        <a href='/' >Dr. Beate Faust - Zahnärztin</a>
        © 2020
        <br>
        All rights reserved.
      </p>
    </div>
    <div class='large-2 columns'>
      <ul class='inline-list right'>
        <li>
          <a href='/imprint'>Impressum</a>
        </li>
        <li>
          <a href='/contact'>Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
