/* Primary colour: #C8E5D9 */
/* Secondary colour: #F3BAAF */

body { background-color:  #F3BAAF; }

.content { background-color: #C8E5D9; }

img[src="/assets/images/thumb/headshot_09.jpg"], img[src="/assets/images/thumb/headshot_06.jpg"] {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  border: solid 3px #fff;
}

.carousel {
  width: 80%;
  margin: 20px auto;
}

video {
  width: 100%    !important;
  height: auto   !important;
  margin: 20px auto;
}
