<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> ><! <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <meta charset='utf-8'>
    <meta content='Zahnartztpraxis Dr. Faust' name='description'>
    <meta content='Zahnartztpraxis Dr. Faust' name='publisher'>
    <meta content='Zahnartztpraxis Dr. Faust' name='copyright'>
    <meta content='Ganzheitliche Zahnartztpraxis Dr. Faust Ozontherapie Kiefergelenksdiagnostik Richtiger Biss Stoerfeldtherapie Herddiagnostik Amalgamsanierung Amalgamausleitung Kinesiologische Testung Kunststoffüberprüfung' name='keywords'>
    <meta content='Zahnartztpraxis Dr. Faust' name='page-topic'>
    <meta content='Alle' name='audience'>
    <meta content='11 days' name='revisit-after'>
    <meta content='INDEX,FOLLOW' name='robots'>
    <meta content='initial-scale=1.0, width=device-width' name='viewport'>
    <title>Dr. Beate Faust</title>
    <link rel='stylesheet' href='/assets/application.css' />
    <script src='/assets/application.js'></script>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class='fixed'>
      {% include nav.html %}
    </div>
    <div class='content'>
      <div class='row'>
        <div class='large-12 columns'>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src='/assets/foundation.702ae592812dc0b00742b2fbe97e97fc.js'></script>
    <script>
      $(document).foundation();
      $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 5000
      });
    </script>
  </body>
</html>
