<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> ><! <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class='fixed'>
      {% include nav.html %}
    </div>
    <div class='content'>
      <div class='row'>
        <div class='large-12 columns'>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="{{ '/assets/js/foundation.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/foundation.topbar.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/slick.js' | relative_url }}"></script>
    <script>
      $(document).foundation();
      $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 5000
      });
    </script>
  </body>
</html>
